.card__like {
  width: 22px;
  height: 19px;
  background: url(../../../images/like.svg) center no-repeat;
  border: none;
  outline: none;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like:active {
  background: url(../../../images/like-active.svg) center no-repeat;
  opacity: 1;
}
